
bleach==4.1.0
blis==0.7.5
cachetools==5.0.0
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
cftime==1.5.2
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.2.0
colorama==0.4.4
cons==0.4.5
cycler==0.11.0
cymem==2.0.6
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
entrypoints==0.3
et-xmlfile==1.1.0
etuples==0.3.4
filelock==3.4.2
fonttools==4.28.5
ghapi==0.1.19
gym==0.21.0
gym-notices==0.0.8
idna==3.3
importlib-metadata==4.13.0
importlib-resources==5.4.0
ipykernel==6.6.1
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==4.3.3
kiwisolver==1.3.2
langcodes==3.3.0
logical-unification==0.4.5
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
miniKanren==1.0.3
mistune==0.8.4
mpmath==1.2.1
multipledispatch==0.6.0
murmurhash==1.0.6
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==5.6.1
nbdev==1.1.23
nbformat==5.1.3
nest-asyncio==1.5.4
netCDF4==1.5.8
notebook==6.4.6
numpy==1.21.5
openpyxl==3.0.9
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
patsy==0.5.2
Pillow==9.0.0
preshed==3.0.6
prometheus-client==0.12.0
prompt-toolkit==3.0.24
pyarrow==8.0.0
pycparser==2.21
pydantic==1.8.2
Pygments==2.11.2
pyodbc==4.0.32
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
pywin32==303
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
requests==2.27.1
sb3-contrib==1.6.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
stable-baselines3==1.6.2
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==3.0.0
toolz==0.11.2
torch==1.13.0
torchvision==0.11.2
tornado==6.1
traitlets==5.1.1
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.8
wasabi==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
widgetsnbextension==3.5.2
xarray==0.20.2
zipp==3.7.0